#custom-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .mb-3 {
        margin-bottom: 15px;
    }

    .form-label {
        margin-bottom: 8px;
    }

    .form-control {
        color: #000; /* Set the desired text color for the form controls */
        background-color: #fff; /* Set the desired background color for the form controls */
        border: 1px solid #ced4da; /* Set the desired border color for the form controls */
        border-radius: 4px; /* Add border-radius for a cleaner look */
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Add smooth transition for better user experience */
    }

    .form-control:focus {
        border-color: #007bff; /* Set the border color when the input is focused */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Set the box shadow when the input is focused */
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .is-invalid {
        border-color: #dc3545; /* Set the desired border color for invalid inputs */
    }

    .invalid-feedback {
        color: #dc3545; /* Set the desired text color for the validation error messages */
    }
}

body {
    background: url('../../public/assets/cloud.png') center center fixed;
    background-size: cover;
    color: black;
}
